{% include f_base_url %}
{% include f_external_services %}

locale="{{page.lang}}"

client-id="{{r_external_services_api_client}}"
chrome-webstore-id="{{r_external_services_chrome_webstore_id}}"

compiler-url="{{r_external_services_compiler_url}}"
api-url="{{r_external_services_api_url}}"

home-url="{{r_base_lang_url}}/"
program-app-url="{{r_base_lang_url}}/program"
register-app-url="{{r_base_lang_url}}/"
user-app-url="{{r_base_lang_url}}/user"

strings-url="{{r_base_url}}/data/strings/{% raw %}{{locale}}{% endraw %}.json"
nodes-url="{{r_base_url}}/data/nodes.json"
