{% include base.html %}
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta name="apple-mobile-web-app-title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="application-name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.url == '/'   %}
		<meta name="description" content="{{site.description}}">
		<meta property="og:description" content="{{site.description}}">
	{% elsif page.excerpt %}
		<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
		<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
	{% endif %}

	<meta property="og:image" content="{{root-url}}_static/images/logo/og.png" />

	<link rel="apple-touch-icon" sizes="57x57" href="{{base}}/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{base}}/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{base}}/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{base}}/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{base}}/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{base}}/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{base}}/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{base}}/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{base}}/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{{base}}/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{base}}/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{base}}/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{base}}/favicon-16x16.png" sizes="16x16">
	<link rel="mask-icon" href="{{base}}/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/{{base}}mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="manifest" href="{{root-url}}manifest.json">

	<link rel="stylesheet" href="{{base}}/_static/styles/main.css">

	<script src="{{base}}/_static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

	<link rel="import" href="{{base}}/_static/elements/elements.html" async>
</head>
