<style>
	body > *:unresolved {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
	}
	.app-shell{
		width: 100%;
	}
	#shell-header{
		position: absolute !important;
		top:0;
		height: 40vh  !important;
		min-height: 19rem  !important;
		background-color: rgba(0,173,239,0.5) !important;
		border-radius: 0 !important;
	}
	#shell-footer{
		position: absolute !important;
		top: 80vh;
		background-color: rgba(235,0,138, 0.5) !important;
		height: 20vh !important;
		border-radius: 0 !important;
	}
</style>
<div class="app-shell" id="shell-header"></div>
<div class="app-shell" id="shell-footer"></div>
