<style>
	#app-shell-header,
	#app-shell-sidebar,
	#app-shell-sidebar-header{
		position: absolute !important;
	}
	#app-shell-header{
		width: 100% !important;
		height: 65px !important;
		top:0 !important;
		left:0 !important;
		background-color: rgba(0,173,239,0.5) !important;
	}
	#app-shell-sidebar-header{
		width: 185px !important;
		height: 32px !important;
		top: 69px !important;
		left: calc(100% - 193px) !important;
		background-color: rgba(235,0,138, 0.5) !important;
		border-radius: 999px !important;
	}
	#app-shell-sidebar{
		width: 185px !important;
		height: calc(100% - 110px) !important;
		top: 105px !important;
		left: calc(100% - 193px) !important;
		background-color: rgba(221,221,221,0.5) !important;
		border-radius: 10px !important;
	}
</style>

<div id="app-shell">
	<div id="app-shell-header"></div>
	<div id="app-shell-sidebar-header"></div>
	<div id="app-shell-sidebar"></div>
</div>
