{% assign query = site.nodes | where: 'object_id', page.node %}

<!DOCTYPE html>
<html>
	{% include head.html %}
	<body
		class="layout_tutorial_index fullbleed layout vertical"
		qb-unresolved>
		{% include app_shell_simple.html %}
		<qb-app-content-page {% include common_attributes.html %}>
			<div class="content">
				{{ content }}
				<div class="tutorials-index" block="markdown">
					{% assign _tutorials = site.pages | where: "layout", "tutorial_single" | where: "lang", page.lang %}
					{% for tutorial in _tutorials %}
						{% assign url=tutorial.url %}
						{% assign title=tutorial.title %}
						{% assign image=tutorial.thumbnail %}
						{% include tutorial_thumbnail.html %}
					{% endfor %}
				</div>
			</div>
		</qb-app-content-page>
		{% include foot.html %}
	</body>
</html>
